body {
  background-color:rgb(255, 255, 255)
}

button{
    margin: 5%;
    color:#53ff09
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  width: 100px;
  height: 100px;
  border: 2px solid #f30707;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'Arvo', sans-serif;
  text-transform: uppercase;
}

#declare{
  margin-right:10%;
  margin-left:10%;
  margin-top:5%;
}

.black{
  background-color:black;
  color:black;
}

.bodyttt{
  background-image: url("images/toothless3.webp");
}

#tttback{
  color:aliceblue;
}

.blue{
  color:blue;
}

#toothyyy{
  margin-top: 10%;
}

.square{
  color:black
}

.pink{
  background-color:greenyellow
}

#toothlesswins{
  font-size:100px;
}

#titlewf{
  font-size: 60px;
}

/* username and captcha css */

#myCell{
  border: 1.5px solid #0c0b0b;
  border-radius: 5px;
  height: 35px;
  padding: 5px 15px;
  font-size: 14px;
  background: #fff;
  font-family: "Font2";
}

#tableh3{
  margin: 0;
  text-align: center;
  font-size: 100px;
  padding-top: 5%;
  color: yellow;
}

#tableh5{
  margin: 5px 0 10px 0;
  font-size: 25px;
  font-weight: normal;
  color:rgb(255, 0, 247)
}

#usernamepage{
  font-family: "Font1";
  background-color:lime;
  height: 100vh;
}

/* The fonts */

@font-face {
  font-family: "Font1";
  src: url("fonts/Molahesta.otf") format("OpenType");
}

@font-face {
  font-family: "Font2";
  src: url("fonts/BAMBOOBRUSH.otf") format("OpenType");
}