body {
  background-color:rgb(255, 255, 255)
}

button{
    margin: 5%;
    color:#53ff09
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  width: 100px;
  height: 100px;
  border: 2px solid #f30707;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'Arvo', sans-serif;
  text-transform: uppercase;
}

#declare{
  margin-right:10%;
  margin-left:10%;
  margin-top:5%;
}

.black{
  background-color:black;
  color:black;
}

/* .bodyttt{
  background-color: black;
  color:black;
} */

#tttback{
  color:aliceblue;
}

.blue{
  color:blue;
}

#toothyyy{
  margin-top: 10%;
}

.square{
  color:black
}

.pink{
  background-color:greenyellow
}

#toothlesswins{
  font-size:100px;
}

#titlewf{
  font-size: 60px;
}

#myCell{
  border: 1px solid #0c0b0b;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  background: #fff;
}

#tableh3{
  margin: 0;
  font-size: 25px;
  padding-top: 5%;
}

#tableh5{
  margin: 5px 0 10px 0;
  font-size: 20px;
  font-weight: normal;
  color: #666;
}

#usernamepage{
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  height: 100vh;
}