body {
  color:aquamarine
  /* background: linear-gradient(to right, black, black, black, #057dff, black, black, #ff00e4, black, black); */
}

button{
    margin: 5%;
    color:#53ff09
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  width: 100px;
  height: 100px;
  border: 2px solid #f30707;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'Arvo', sans-serif;
  text-transform: uppercase;
}

#declare{
  margin-right:10%;
  margin-left:10%;
  margin-top:5%;
  /* background: linear-gradient(to right, rgb(77, 255, 0), rgb(43, 43, 63), yellow, rgb(61, 252, 255), rgb(255, 0, 21), rgb(136, 33, 255), rgb(0, 0, 0)); */
  font-size:100px;
  font-family: "Font2";
}

.black{
  background-color:black;
  color:black;
}

.bodyttt{
  /* background-image: url("images/toothless3.webp"); */
  background-size: cover;
}

#tttback{
  color:aliceblue;
}

.blue{
  color:blue;
}

#toothyyy{
  margin-top: 10%;
}

.square{
  color:black
}

.pink{
  background-color:greenyellow
}

#toothlesswins{
  font-size:100px;
  color: #f30707;
  font-family: "Font3";
}

#titlewf{
  font-size: 60px;
}
/* .flashy {
  animation: flash 0.1s infinite alternate; 
} */

/* .flashy2{
  animation: flash 1s infinite alternate;
} */

@keyframes flash {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* username and captcha css */

#myCell{
  border: 1.5px solid #0c0b0b;
  border-radius: 5px;
  height: 35px;
  padding: 5px 15px;
  font-size: 14px;
  background: #fff;
  font-family: "Font2";
}

#tableh3{
  margin: 0;
  text-align: center;
  font-size: 100px;
  padding-top: 5%;
  color: yellow;
}

#tableh5{
  margin: 5px 0 10px 0;
  font-size: 25px;
  font-weight: normal;
  color:rgb(255, 0, 247)
}

#usernamepage{
  font-family: "Font1";
  background-color:lime;
  height: 100vh;
}

/* The fonts */

@font-face {
  font-family: "Font1";
  src: url("fonts/Molahesta.otf") format("OpenType");
}

@font-face {
  font-family: "Font2";
  src: url("fonts/BAMBOOBRUSH.otf") format("OpenType");
}

@font-face {
  font-family: "Font3";
  src: url("fonts/STREZY\ BREAK\ OUTLINE.otf") format("OpenType");
}